<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:name="com.example.sumon.androidvolley.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:label="Immaculate Taste"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:exported="true">
           <intent-filter>-->
               <action android:name="android.intent.action.MAIN" />

               <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LobbyActivity"></activity>
        <activity android:name=".LeaderboardActivity"></activity>
        <activity android:name=".ArtistActivity"></activity>
        <activity android:name=".StudyActivity"></activity>

        <activity android:name=".ChatActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".SettingsActivity"></activity>
        <activity android:name=".GameWebSockets"></activity>
        <activity android:name=".Navigation"></activity>
        <activity android:name=".SinglePlayerGame"></activity>
        <activity android:name=".MultiPlayerGame"
            android:exported="true">
            
        </activity>
        <activity android:name=".ReportUserActivity"></activity>
        <activity android:name=".AdminActivity"></activity>
    </application>

</manifest>